<div class="auth-wrapper">
  <div class="auth-side-image">
    <div class="badge">NEXE Community</div>
    <h1>Uneix-te a la revolució del comerç local.</h1>
    <p>Guanya punts, ajuda els teus veïns i descobreix ofertes úniques.</p>
  </div>

  <div class="auth-content">
    <div class="form-container">
      <h2>Crea el teu compte</h2>
      <p class="subtitle">Comença a estalviar avui mateix.</p>

      <form [formGroup]="regForm" (ngSubmit)="enviar()">
        <div class="form-group">
          <label>Nom complet</label>
          <input type="text" formControlName="nom" placeholder="Ex: Joan Garcia">
        </div>

        <div class="form-group">
          <label>Correu electrònic</label>
          <input type="email" formControlName="correu" placeholder="correu@exemple.cat">
          @if (regForm.get('correu')?.touched && regForm.get('correu')?.invalid) {
            <span class="err">Introdueix un correu vàlid</span>
          }
        </div>

        <div class="form-group">
          <label>Contrasenya</label>
          <input type="password" formControlName="contrasenya" placeholder="Mínim 8 caràcters">
        </div>

        <div class="form-group">
          <label>Vull registrar-me com a:</label>
          <select formControlName="rol" class="form-control">
            <option value="ESTANDARD">Usuari / Client</option>
            <option value="COMERC">Comerç / Botiga</option>
            <option value="ADMIN">Administrador</option>
          </select>
        </div>

        @if (regForm.get('rol')?.value === 'COMERC') {
          <div class="form-group animate-in">
            <label>Categoria del comerç</label>
            <select formControlName="id_categoria" class="form-control">
              <option value="">Selecciona una categoria...</option>
              @for (cat of categories; track cat.id_categoria) {
                <option [value]="cat.id_categoria">{{ cat.nom_cat }}</option>
              }
            </select>
          </div>

          <div class="form-group animate-in">
            <label>CIF del comerç</label>
            <input type="text" formControlName="cif" placeholder="Ex: B12345678">
          </div>
        }

        @if (errorMsg) {
          <div class="alert-error">{{ errorMsg }}</div>
        }

        <button type="submit" class="btn btn-primary" [disabled]="regForm.invalid || loading">
          {{ loading ? 'Creant compte...' : 'Registrar-me ara' }}
        </button>
      </form>

      <p class="footer-text">
        Ja tens compte? <a routerLink="/login">Inicia sessió</a>
      </p>
    </div>
  </div>
</div>